@import "tailwindcss";

:root {
  --background: #F0FDFA;
  --foreground: #374151;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-jp), sans-serif;
  --color-main: #E6F7F5;
  --color-accent: #0D9488;
  --color-reservation: #F97316;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-jp), sans-serif;
  letter-spacing: 0.025em;
  /* tracking-wide */
}

h2,
h3 {
  letter-spacing: 0.05em;
  /* tracking-wider */
}

.container-base {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .container-base {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}